{{#> 'layouts/main'}}
  {{#*inline "title"}}
  {{text req "homepage"}}
  {{/inline}}
  
  {{#*inline "content"}}
  <section>
    <article>
      <h1>{{text req "welcome"}}</h1>
      <div>
        <a class="button-link" href="login.hbs">{{text req "login"}}</a>
      </div>
    </article>
  </section>
  {{/inline}}
{{/layouts/main}}