{{#> 'layouts/main'}}
  {{#*inline "title"}}
  {{text req "employee_list"}}
  {{/inline}}
  
  {{#*inline "content"}}
  <section>
    <article>
      <h1>{{text req "employee_list"}}</h1>
      <table class="model-list" model="employee">
        <thead></thead>
        <tbody></tbody>
      </table>
    </article>
  </section>

  <script src="/src/model-list.js"></script>
  {{/inline}}
{{/layouts/main}}