{{#> 'layouts/main'}}
  {{#*inline "title"}}
  Create ATM
  {{/inline}}
  
  {{#*inline "content"}}
  <article>
    <section>
      <h2>Create ATM</h2>

      <form action="/api/atm" method="POST">
        <label for="password">{{text req "label_password"}}</label>
        <input type="password" name="password" /><br />
        <label for="description">{{text req "label_description"}}</label>
        <textarea type="text" name="description" /></textarea><br />
        <button type="submit">{{text req "submit_create"}}</button>
      </form>
    </section>
  </article>
  {{/inline}}
{{/layouts/main}}