{{#> 'layouts/main'}}
  {{#*inline "title"}}
  {{text req "atm_list"}}
  {{/inline}}

  {{#*inline "content"}}
  <section>
    <article>
      <h1>{{text req "atm_list"}}</h1>
      <table class="model-list" model="atm">
        <thead></thead>
        <tbody></tbody>
      </table>
    </article>
  </section>

  <script src="/src/model-list.js"></script>
  {{/inline}}
{{/layouts/main}}