{{#> 'layouts/main'}}
  {{#*inline "title"}}
  {{text req "refill"}}
  {{/inline}}
  
  {{#*inline "content"}}
  <section>
    <article>
      <h1>{{text req "refill"}}</h1>

      <script>
        function handlesuccess(data) {
          alert("created:\n\n" + JSON.stringify(data, null, '  '));
        }
        function handlefail(err) {
          alert("failed:\n\n" + err);
        }       
        
        function makejson() {
        let json="";
        json += "{";
        let inputs = document.querySelectorAll("input[type=text]");
        console.log(inputs);
        for(input of inputs) {
          if((input.name != "atmId") && (input.name != "values") && (input.value != "")){
            json += input.name + ":" + input.value + ",";
          }
        }
        json = json.replace(/,$/,"");
        json += "}";
        console.log(json);
      }

      </script>

      <form action="/api/atm" method="POST" class="ajax-post" onsubmit="return makejson()" onsuccess="handlesuccess" onfail="handlefail">
        <label for="atmId">ID</label>
        <input type="text" name="atmId" /><br />
        <hr>
        <label for="1ct">1 Cent</label>
        <input type="text" name="1ct" /><br />
        <label for="2ct">2 Cent</label>
        <input type="text" name="2ct" /><br />
        <label for="5ct">5 Cent</label>
        <input type="text" name="5ct" /><br />  
        <label for="10ct">10 Cent</label>
        <input type="text" name="10ct" /><br />
        <label for="20ct">20 Cent</label>
        <input type="text" name="20ct" /><br />
        <label for="50ct">50 Cent</label>
        <input type="text" name="50ct" /><br />
        <label for="1eur">1 Euro</label>
        <input type="text" name="1eur" /><br />
        <label for="2eur">2 Euro</label>
        <input type="text" name="2eur" /><br />
        <label for="5eur">5 Euro</label>
        <input type="text" name="5eur" /><br />
        <label for="10eur">10 Euro</label>
        <input type="text" name="10eur" /><br />
        <label for="20eur">20 Euro</label>
        <input type="text" name="20eur" /><br />
        <label for="50eur">50 Euro</label>
        <input type="text" name="50eur" /><br />
        <label for="100eur">100 Euro</label>
        <input type="text" name="100eur" /><br />
        <label for="200eur">200 Euro</label>
        <input type="text" name="200eur" /><br />
        <input style="display: none" type="text" name="values">
        <button type="submit">{{text req "refill"}}</button>
      </form>
    </article>
  </section>

  <script src="/src/ajax-post.js"></script>
  
  {{/inline}}
{{/layouts/main}}