{{#> 'layouts/main'}}
  {{#*inline "title"}}
  Admin Actions
  {{/inline}}
  
  {{#*inline "content"}}
  <article>
    <section>
      <h2>Index of Admin actions</h2>
      <ul class="collection">
        <li><a href="./admin/create">Create Admin</a></li>
        <li><a href="./admin/list">List Admins</a></li>
      </ul>
    </section>
  </article>
  {{/inline}}
{{/layouts/main}}