{{#> 'layouts/main'}}
  {{#*inline "title"}}
  Create Admin
  {{/inline}}
  
  {{#*inline "content"}}
  <form action="/api/admin" method="POST">
    <label for="username">{{text req "label_username"}}</label>
    <input type="text" name="username" /><br />
    <label for="password">{{text req "label_password"}}</label>
    <input type="password" name="password" /><br />
    <button type="submit">{{text req "login_submit"}}</button>
  </form>
  {{/inline}}
{{/layouts/main}}