{{#> 'layouts/main'}}
  {{#*inline "title"}}
  {{text req "admin_list"}}
  {{/inline}}
  
  {{#*inline "content"}}
  <section>
    	<article>
      <h1>{{text req "admin_list"}}</h1>
      <table class="model-list" model="admin">
        <thead>
        </thead>
        <tbody>
        </tbody>
      </table>
    </article>
  </section>

  <script src="/src/model-list.js"></script>
  {{/inline}}
{{/layouts/main}}