<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#00c0a0" />
    <link rel="stylesheet" href="/src/_.css">
    <title>{{> title}} - {{text req 'bank_name'}}</title>
    <script src="/jquery"></script>
  </head>
  <body>
    <h1 class="main">{{text req "bank_name"}}</h1>
    {{> content}}
  </body>
</html>